
.contacto {
    text-align: center;
}

.contacto a {
    color: inherit;
}

i {
    margin: -3px;
    font-size: 100px;
}

.contacto i:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
}